.row{
	padding-top: 2%;
}

.randImg{
	background-image: url('../images/checked40x40.png');
	height: 40px;
	margin-left: -8%;
	background-repeat: no-repeat;
}

.space { margin:0; padding:0; height:30px; }
   